*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(
        180deg,
        #ffffff 0%,
        #eef5ff 100%
    );
}

.upload-card{
    background:white;
    border:2px dashed #d1d5db;
    border-radius:20px;
    transition:0.3s;
}

.upload-card:hover{
    border-color:#2563eb;
    transform:translateY(-3px);
}

.icon-box{
    width:90px;
    height:90px;
    display:flex;
    align-items:center;
    justify-content:center;

    font-size:40px;

    background:#f3f4f6;
    border-radius:16px;
}

.btn-upload{
    background:#2563eb;
    color:white;

    padding:12px 24px;

    border:none;
    border-radius:12px;

    font-weight:bold;
    cursor:pointer;

    transition:0.3s;
}

.btn-upload:hover{
    background:#1d4ed8;
}

.feature-card{
    background:white;

    padding:20px;

    border-radius:16px;

    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.feature-card h3{
    margin-top:10px;
    margin-bottom:8px;
    font-weight:bold;
}

.feature-card p{
    color:#6b7280;
    font-size:14px;
}